conn x.x.x.x
       authby=secret
       pfs=no
       auto=add
       keyingtries=3
       dpddelay=30
       dpdtimeout=120
       dpdaction=clear
       rekey=yes
       ikelifetime=8h
       keylife=1h
       type=transport
       left=x.x.x.x
       leftnexthop=192.168.100.1
       leftprotoport=17/1701
       rightprotoport=17/1701
#       rightid=192.168.0.251
       right=x.x.x.x
